.invis {
  opacity: 0;
}

.hidden {
  display: none;
}

.fx__fade-in {
  opacity: 0;
  animation: fade-in $load-fade-in-time linear forwards;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
