.invis {
  opacity: 0;
}

.hidden {
  display: none;
}

.fx__fade-in {
  opacity: 0;
  animation: fade-in $load-fade-in-time linear forwards;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fx__view--l {
  left: -100%;
  opacity: 0;
}

.fx__view--m {
  left: 0;
  opacity: 1;
}

.fx__view--r {
  left: 100%;
  opacity: 0;
}
