* {
  box-sizing: border-box;
}

$bg-d: $cerulean-dark;
$bg-l: $java;

body {
  font-family: $font-pri;
  font-size: $rem;
  color: $color-text;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-3deg, $bg-d, $bg-l);
  @include mediaQueryRange((font-size: (10px, 18px)));
}
