* {
  box-sizing: border-box;
}

$bg-d: $cerulean-dark;
$bg-l: $java;

body {
  font-family: $font-pri;
  font-size: $rem;
  color: $color-text;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $color-bg;
  padding: 0;
  @include mediaQueryRange($rules: (font-size: (14px, 18px)), $delay: 1);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

::-webkit-scrollbar {
  max-width: 8px;
  max-height: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
