* {
  box-sizing: border-box;
}

$bg-d: $cerulean-dark;
$bg-l: $java;

body {
  font-family: $font-pri;
  font-size: $rem;
  color: $color-text;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $color-bg;
  padding: 0;
  @include mediaQueryRange($rules: (font-size: (12px, 18px)), $delay: 1);
  @media only screen and (orientation: landscape){
    & > * {
      @include mediaQueryStep($delay: 2, $rules: (
        padding-left: (3%, 6%, 9%),
        padding-right: (4%, 7%, 10%)
      ));
    }
  }
}

::-webkit-scrollbar {
  max-width: 8px;
  max-height: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
