<div id="about" class="main--about">
  <div class="container--default content">
    <div class="about__profile">
      <div class="about__info">
        <div class="about__avatar shadow--md">
          <img src="/assets/profile.jpg" alt="Michael Li" title="Michael Li">
          <div class="overlay--theme invis"></div>
        </div>
        <div class="about__info__text">
          <h2>About</h2>
          <p>Michael Li is a freelance web developer.</p>
        </div>
      </div>
      <div class="about__skills">
        <partial src="_skill_badge.html" icon="/assets/html5.svg" skill="HTML5" level="5"></partial>
        <partial src="_skill_badge.html" icon="/assets/css3.svg" skill="CSS3" level="5"></partial>
        <partial src="_skill_badge.html" icon="/assets/javascript.svg" skill="JavaScript" level="5"></partial>
        <partial src="_skill_badge.html" icon="/assets/bootstrap.svg" skill="Bootstrap" level="5"></partial>
        <partial src="_skill_badge.html" icon="/assets/materialui.svg" skill="Material UI" level="5"></partial>
        <partial src="_skill_badge.html" icon="/assets/nodejs.svg" skill="Node.js" level="5"></partial>
      </div>
    </div>
  </div>
  <div class="scroll-prompt">

  </div>
</div>
