// basic
$white: #fafafa;
$white-light: #ffffff;
$white-dark: #eeeeee;
$off-white: #c7c7c7;
$silver: #c0c0c0;
$silver-light: #f3f3f3;
$silver-dark: #909090;
$black: #212121;
$black-light: #484848;
$black-dark: #000000;

// material colors
$red: #F44336;
$red-light: #ff7961;
$red-dark: #ba000d;
$pink: #E91E63;
$pink-light: #ff6090;
$pink-dark: #b0003a;
$purple: #9C27B0;
$purple-light: #d05ce3;
$purple-dark: #6a0080;
$royal: #673AB7;
$royal-light: #9a67ea;
$royal-dark: #320b86;
$indigo: #3F51B5;
$indigo-light: #757de8;
$indigo-dark: #002984;
$blue: #2196F3;
$blue-light: #6ec6ff;
$blue-dark: #0069c0;
$cerulean: #03A9F4;
$cerulean-light: #67daff;
$cerulean-dark: #007ac1;
$cyan: #00BCD4;
$cyan-light: #62efff;
$cyan-dark: #008ba3;
$teal: #009688;
$teal-light: #52c7b8;
$teal-dark: #00675b;
$green: #4CAF50;
$green-light: #80e27e;
$green-dark: #087f23;
$mantis: #8BC34A;
$mantis-light: #bef67a;
$mantis-dark: #5a9216;
$lime: #CDDC39;
$lime-light: #ffff6e;
$lime-dark: #99aa00;
$yellow: #FFEB3B;
$yellow-light: #ffff72;
$yellow-dark: #c8b900;
$amber: #FFC107;
$amber-light: #fff350;
$amber-dark: #c79100;
$orange: #FF9800;
$orange-light: #ffc947;
$orange-dark: #c66900;
$flame: #FF5722;
$flame-light: #ff8a50;
$flame-dark: #c41c00;
$brown: #795548;
$brown-light: #a98274;
$brown-dark: #4b2c20;
$grey: #9E9E9E;
$grey-light: #cfcfcf;
$grey-dark: #707070;
$slate: #607D8B;
$slate-light: #8eacbb;
$slate-dark: #34515e;

// bonus colors
$crimson: #990000;
$crimson-light: #d1432b;
$crimson-dark: #650000;
$vermilion: #e34234;
$vermilion-light: #ff765f;
$vermilion-dark: #aa000b;
$wine: #722f37;
$wine-light: #a35b61;
$wine-dark: #430211;
$orchid: #da70d6;
$orchid-light: #ffa1ff;
$orchid-dark: #a63fa4;
$amethyst: #9966cc;
$amethyst-light: #cc95ff;
$amethyst-dark: #68399b;
$lavender: #967bb6;
$lavender-light: #c7aae8;
$lavender-dark: #674f86;
$azure: #007FFF;
$azure-light: #69aeff;
$azure-dark: #0054cb;
$electric: #0892d0;
$electric-light: #5fc2ff;
$electric-dark: #00659f;
$sky: #7EC0EE;
$sky-light: #b2f3ff;
$sky-dark: #4a90bb;
$java: #1FC2C2;
$java-light: #68f5f5;
$java-dark: #009192;
$tropic: #00755e;
$tropic-light: #46a48b;
$tropic-dark: #004834;
$forest: #228B22;
$forest-light: #5bbc51;
$forest-dark: #005c00;
$jade: #00a86b;
$jade-light: #55db99;
$jade-dark: #007840;
$olive: #808000;
$olive-light: #b2af3d;
$olive-dark: #505400;
$sunglow: #ffcc33;
$sunglow-light: #ffff69;
$sunglow-dark: #c89b00;
$goldenrod: #DAA520;
$goldenrod-light: #ffd656;
$goldenrod-dark: #a47700;
$mango: #ff8243;
$mango-light: #ffb371;
$mango-dark: #c65314;
$tuscany: #BD5E2E;
$tuscany-light: #f48d5a;
$tuscany-dark: #873101;
$tan: #D2B48C;
$tan-light: #ffe6bc;
$tan-dark: #a0845e;
$sand: #c2b280;
$sand-light: #f5e4b0;
$sand-dark: #918353;
$beach: #FFEAC8;
$beach-light: #fffffb;
$beach-dark: #cbb897;
$scorpion: #695F62;
$scorpion-light: #978c8f;
$scorpion-dark: #3e3538;
$steel: #90a4ae;
$steel-light: #c1d5e0;
$steel-dark: #62757f;
$obsidian: #5e5e5e;
$obsidian-light: #8b8b8b;
$obsidian-dark: #343434;
$charcoal: #36454f;
$charcoal-light: #61707b;
$charcoal-dark: #0f1e27;

// ui
// material design + bootstrap
$md-primary: #4285f4;
$md-primary-light: #80b4ff;
$md-primary-dark: #0d47a1;
$md-secondary: #aa66cc;
$md-secondary-light: #dd96ff;
$md-secondary-dark: #79389b;
$md-success: #00c851;
$md-success-light: #5efc80;
$md-success-dark: #007e33;
$md-danger: #ff4444;
$md-danger-light: #ff7b70;
$md-danger-dark: #cc0000;
$md-info: #33b5e5;
$md-info-light: #75e7ff;
$md-info-dark: #0099CC;
$md-warning: #ffbb33;
$md-warning-light: #ffed67;
$md-warning-dark: #ff8800;
$md-default: #2bbbad;
$md-default-light: #6beedf;
$md-default-dark: #00695c;
$md-elegant: #2E2E2E;
$md-elegant-light: #575757;
$md-elegant-dark: #212121;
$md-stylish: #4B515D;
$md-stylish-light: #777d8a;
$md-stylish-dark: #3E4551;
