// device breakpoints array
$device-breakpoints: 600px 768px 992px 1200px;

// type
$font-pri: 'Roboto';
$font-pri-condense: 'Roboto Condensed';
$font-pri-mono: 'Roboto Mono';
$font-sec: 'Roboto Slab';
$font-nav: 'Orbitron';
$font-badge: 'Alegreya Sans SC';
$rem: 16px;

// colors
$color-text: $black;
$color-text-dark: $black-dark;
$color-text-light: $black-light;
$color-text-invert: $white;
$color-text-invert-dark: $white-dark;
$color-text-invert-light: $white-light;
$color-bg: $white;
$color-bg-dark: $white-dark;
$color-bg-light: $white-light;

$theme-pri: $blue;
$theme-pri-dark: $blue-dark;
$theme-pri-light: $blue-light;
$theme-sec: $red;
$theme-sec-dark: $red-dark;
$theme-sec-light: $red-light;
$theme-tri: $purple;
$theme-tri-dark: $purple-dark;
$theme-tri-light: $purple-light;

// helper
$bezier-bounce: cubic-bezier(.21,1.11,.6,1.15);

$transition-sec: 1s;
$transition-slow: 800ms;
$transition-med: 500ms;
$transition-fast: 250ms;

$alpha-light: rgba($white, 0.4);
$alpha-dark: rgba($black, 0.4);

$shadow-sm-size: 2px 2px 5px;
$shadow-md-size: 5px 5px 10px;
$shadow-lg-size: 10px 10px 20px;
$shadow-sm-color: rgba($black-light, 0.3);
$shadow-md-color: rgba($black-light, 0.4);
$shadow-lg-color: rgba($black, 0.4);
$shadow-sm: $shadow-sm-size $shadow-sm-color;
$shadow-md: $shadow-md-size $shadow-md-color;
$shadow-lg: $shadow-lg-size $shadow-lg-color;

$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;

$load-fade-in-time: 1s;

$avatar-size: 200px;
$avatar-half: $avatar-size / 2;
