// device breakpoints array
$device-breakpoints: 600px 768px 992px 1200px;

// type
$font-pri: 'Roboto';
$font-pri-mono: 'Roboto Mono';
$font-badge: 'Alegreya Sans SC';
$font-name: 'Raleway';
$font-header: 'Montserrat';
$font-filter: 'Abel';
$font-skill-cat: 'Quicksand';
$font-skill: 'Abel';
$font-contact: 'Roboto Condensed';
$font-text: 'Lato';
$rem: 16px;

// colors
$color-text: $black;
$color-text-dark: $black-dark;
$color-text-light: $black-light;
$color-text-invert: $white;
$color-text-invert-dark: $white-dark;
$color-text-invert-light: $white-light;
$color-bg: $white;
$color-bg-dark: $white-dark;
$color-bg-light: $white-light;

$theme-pri: $blue;
$theme-pri-dark: $blue-dark;
$theme-pri-light: $blue-light;
$theme-pri-dark-fade: #c9dae8;
$theme-sec: $green;
$theme-sec-dark: $green-dark;
$theme-sec-light: $green-light;
$theme-tri: $purple;
$theme-tri-dark: $purple-dark;
$theme-tri-light: $purple-light;

$nav-height: 4em;

// helper
$bezier-bounce: cubic-bezier(.21,1.11,.6,1.15);
$bezier-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

$transition-sec: 1s;
$transition-slow: 800ms;
$transition-med: 500ms;
$transition-fast: 250ms;

$alpha-light: rgba($white, 0.4);
$alpha-silver: rgba($silver, 0.4);
$alpha-dark: rgba($black, 0.4);
$alpha-white: rgba($white, 0.8);
$alpha-black: rgba($black, 0.8);

$shadow-sm-size: 2px 2px 5px;
$shadow-md-size: 5px 5px 10px;
$shadow-lg-size: 10px 10px 20px;
$shadow-sm-color: rgba($black-light, 0.3);
$shadow-md-color: rgba($black-light, 0.4);
$shadow-lg-color: rgba($black, 0.4);
$shadow-sm: $shadow-sm-size $shadow-sm-color;
$shadow-md: $shadow-md-size $shadow-md-color;
$shadow-lg: $shadow-lg-size $shadow-lg-color;

$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;

$load-fade-in-time: 1s;

$avatar-size: 50px;
$namecard-height: 8em;
