// device breakpoints array
$device-breakpoints: 600px 768px 992px 1200px;

// type
$font-pri: 'Roboto';
$font-pri-condense: 'Roboto Condensed';
$font-pri-mono: 'Roboto Mono';
$font-sec: 'Roboto Slab';
$rem: 16px;

// colors
$color-text: $black;
$color-text-dark: $black-dark;
$color-text-light: $black-light;
$color-bg: $white;
$color-bg-dark: $white-dark;
$color-bg-light: $white-light;

$theme-pri: $blue;
$theme-pri-dark: $blue-dark;
$theme-pri-light: $blue-light;
$theme-sec: $red;
$theme-sec-dark: $red-dark;
$theme-sec-light: $red-light;
$theme-tri: $purple;
$theme-tri-dark: $purple-dark;
$theme-tri-light: $purple-light;
