mixin badge(skill, icon, level)
  figure.skill-badge.invis
    .skill-badge__icon
      img(src=icon)
      .skill-badge__header
        h3= skill
      div(class="skill-badge__level--" + level)
        each _ in Array(level)
          .skill-badge__star
            i.fas.fa-star

#about.main--about
  .container--default.content
    section.about__profile
      .avatar
        img(src="/assets/profile.jpg")
      .intro
        h1 About
        p Hi, I'm Mike and I'm a full-stack developer. I love to connect people and computers by creating a seamless user experience in my projects. Let's make something cool.

        
