section#namecard.namecard
  .namecard__content
    figure.avatar--sm
      .ripple-bg
      img(src="assets/profile.jpg")
    .namecard__text
      h1.namecard__name Michael Li
      .namecard__text__intro
        .text
          | Hi, I'm a full-stack web developer, and self-taught programmer.
          | I love learning new technologies and creating useful web tools,
          | and I'm passionate about connecting people and computers
          | with beautiful and smart UX design.
      .namecard__text__contact
        .text
          | mcli.893@gmail.com
          | +1 (669) 210-3666
          | 1968 Hillebrant Pl
          | Santa Clara, CA 95050
