mixin stringSpan(str)
  - var arr = str.split('');
  each char in arr
    span= char

section#namecard.namecard
  .namecard__content
    figure.avatar--sm
      .ripple-bg
      img(src="assets/profile.jpg")
    .namecard__text
      h1.namecard__name
        +stringSpan('Michael Li')
      .namecard__text__intro
        .text
          | Michael is a full-stack web developer with immense dedication towards
          | perfecting his work. He is a considerate and communicative team player
          | and is always learning something new. He is passionate about enhancing the
          | way people interact with technology through intuitive UX design.
          
      .namecard__text__contact
        .text
          | mcli.893@gmail.com
          | +1 (669) 210-3666
          | 1968 Hillebrant Pl
          | Santa Clara, CA 95050
