$margin: 0.5em;
$avatar-offset: calc(#{$avatar-half} + #{$margin});
$card-bg: $alpha-dark;

$avatar-size: 60px;
$avatar-half: $avatar-size / 2;
$avatar-quarter: $avatar-size / 4;
$avatar-negative: calc(#{$avatar-half} + 1em);
$avatar-range: (60px, 160px);
$avatar-range-half: (40px, 80px);
$avatar-range-grow: (120px, 240px);

$profile-text-offset: calc(#{$avatar-quarter} + 2em);

.about__profile {
  @include flex($dir: row, $align: center);
  width: 100%;
  height: auto;
  position: relative;

  .avatar {
    flex-grow: 0;
    flex-shrink: 0;
    height: $avatar-size;
    width: $avatar-size;
    position: relative;
    left: #{$avatar-quarter / 2};
  }
  .intro {
    position: relative;
    right: #{$avatar-quarter / 2};
    flex: 1 1 auto;
    font-family: $font-nav;
    background: radial-gradient(circle at #{$avatar-quarter * -1} 50%, transparent, transparent $avatar-negative, $alpha-dark $avatar-negative, $alpha-dark);
    border-radius: $border-radius-sm;
    color: $color-text-invert;
    padding: 1em;
    padding-left: $profile-text-offset;

    h1 {
      font-size: 1.1em;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 1em;
    }
  }
}
