$margin: 0.5em;
$avatar-offset: calc(#{$avatar-half} + #{$margin});
$card-bg: $alpha-dark;

$avatar-size: 8em;
$avatar-half: $avatar-size / 2;
$avatar-quarter: $avatar-size / 4;
$avatar-offset: 0.5em;
$avatar-left-offset: 2em;
$avatar-negative: $avatar-half + $avatar-offset;
$avatar-negative-left: $avatar-half + $avatar-left-offset;

$profile-header-height: $avatar-quarter;
$profile-header-offset: $avatar-size;

.about__profile {
  @include flex($dir: column, $align: center);
  width: 100%;
  height: auto;
  position: relative;

  .avatar {
    height: $avatar-size;
    width: $avatar-size;
    position: relative;
    top: #{$avatar-quarter / 2};
    // left: $avatar-left-offset;
  }
  .intro {
    position: relative;
    bottom: #{$avatar-quarter / 2};
    flex: 1 1 auto;
    background: radial-gradient(circle at 50% #{$avatar-quarter * -1}, transparent, transparent $avatar-negative, $alpha-dark $avatar-negative, $alpha-dark);
    border-radius: $border-radius-md;
    color: $color-text-invert;
    padding: 2em;
    max-width: 60%;
    @media only screen and (orientation: landscape) {
      max-width: none;
    }

    h1 {
      font-family: $font-nav;
      font-size: 1.1em;
      margin-left: $profile-header-offset;
      margin-bottom: 0.5em;
    }
    p {
      font-family: $font-text;
      font-size: 1em;
      line-height: 1.4em;
    }
  }
}

$skill-name-width: 120px;
$skill-bg: $electric-dark;
$skill-bar: $electric;
$skill-bar-text: $electric-light;
$skill-skew: -10deg;
$skill-bar-radius: $border-radius-sm;

.about__skills {
  width: 100%;
  padding: 1em;
  @include flex($dir: column, $justify: space-around, $align: center);

  .skill {
    margin: 0.25em;
    height: 1.5em;
    width: 100%;
    @include flex($dir: row);
    transition: $transition-fast $bezier-bounce;

    .skill__name {
      flex: 0 0 $skill-name-width;
      height: 100%;
      color: $color-text-invert;
      font-family: $font-badge;
      text-align: center;
      padding: 0.7em 1em;
      margin: auto;
      @include flex(center);
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $skill-bg;
        transform: skew($skill-skew);
        border-top-left-radius: $skill-bar-radius;
        border-bottom-left-radius: $skill-bar-radius;
        z-index: 0;
      }
      h3 {
        z-index: 1;
      }
    }
    .skill__level {
      flex: 1 1 auto;
      height: 100%;
      border-top-right-radius: $skill-bar-radius;
      border-bottom-right-radius: $skill-bar-radius;
      background: $alpha-silver;
      transform: skew($skill-skew);
      .skill__level__bar {
        height: 100%;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        background-color: $skill-bar;
        color: $skill-bar-text;
        font-size: 0.8em;
        @include flex($dir: row-reverse, $align: center);
        padding: 0 0.5em;
      }
    }
    // .skill hover
    // &:hover,
    // &:focus,
    // &:active {
    //   transform: scale(1.05);
    // }
  }

  // .about__skills media query
  @media only screen and (orientation: landscape) {
    padding: 2em;
  }
}
