$section-height: calc(100vh - #{$nav-height});

$portfolio-bg: $color-bg;
$portfolio-radius: $border-radius-lg;
$portfolio-shadow: $shadow-lg;

.body {
  height: $section-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

[class^="main--"],
[class*=" main--"] {
  display: block;
  width: 100%;
  height: $section-height;
  top: 0;
  transition: $transition-med $bezier-quart;
  .content {
    height: 100%;
    background-color: transparent;
    @include flex($dir: column, $justify: center, $align: center);
    padding: 2em;
  }
}

.main--about {
  position: relative;
  .content {
    @media only screen and (orientation: landscape) {
      flex-direction: row;
    }
  }
}

.main--portfolio {
  position: absolute;
  z-index: 2;
}

.main--contact {
  position: absolute;
  z-index: 1;
}
