$section-height: calc(100vh - #{$nav-height});
$center-viewheight: $nav-height * 2;
$about-height: calc(100vh - #{$center-viewheight});

$portfolio-bg: $color-bg;
$portfolio-radius: $border-radius-lg;
$portfolio-shadow: $shadow-lg;

.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

[class^="main--"],
[class*=" main--"] {
  display: block;
  width: 100%;
}

.main--about {
  height: $about-height;
  .content {
    height: 100%;
    background-color: transparent;
    @include flex($dir: column, $justify: center, $align: center);
    padding: 2em;
    @media only screen and (orientation: landscape) {
      flex-direction: row;
    }
  }
}

.main--portfolio {
  height: $section-height;
  position: absolute;
  top: calc(100vh - 4em);
  transition: $transition-med $bezier-quart;
  z-index: 2;
  .content {
    background-color: $portfolio-bg;
    border-top-left-radius: $portfolio-radius;
    border-top-right-radius: $portfolio-radius;
    box-shadow: $portfolio-shadow;
  }
}

.main--contact {
  height: $section-height;
  position: absolute;
  top: calc(100vh - 5em);
  transition: $transition-med $bezier-quart;
  z-index: 1;
  .content {
    background-color: $portfolio-bg;
    border-top-left-radius: $portfolio-radius;
    border-top-right-radius: $portfolio-radius;
    box-shadow: $portfolio-shadow;
  }
}
