$nav-height: 4em;
$section-height: 80vh;
$center-viewheight: $nav-height * 2;
$about-height: calc(100vh - #{$center-viewheight});

$portfolio-bg: rgba($color-bg, 0.9);
$portfolio-radius: $border-radius-lg;
$portfolio-shadow: $shadow-lg;

.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[class^="main--"],
[class*=" main--"] {
  display: block;
  width: 100%;
}

.main--about {
  height: $about-height;
  .content {
    height: 100%;
    background-color: transparent;
    @include flex($dir: column, $justify: center, $align: center);
    padding: 2em;
    @media only screen and (orientation: landscape) {
      flex-direction: row;
    }
  }
}

.main--portfolio {
  min-height: $section-height;
  position: relative;
  .content {
    background-color: $portfolio-bg;
    border-top-left-radius: $portfolio-radius;
    border-top-right-radius: $portfolio-radius;
    box-shadow: $portfolio-shadow;
  }
}
