.portfolio__header {
  display: block;
  font-family: $font-nav;
  font-size: 1.2em;
  color: $color-text-invert;
  text-align: center;
  padding: 1em 2em;
}

.portfolio-container {
  @include flex($dir: row, $justify: center);

}
