[class^="container--"],
[class*=" container--"] {
  width: 96%;
  height: 100%;
  margin: auto;
  @include mediaQueryStep($delay: 1, $rules: (width: (94%, 92%, 90%)));
}

.container--default {
  @media only screen and (orientation: landscape){
    @include mediaQueryRange((width: (100%, 70%)));
  }
}

.container--wide {
  @media only screen and (orientation: landscape){
    @include mediaQueryRange((width: (100%, 85%)));
  }
}
