.namecard {
  position: relative;
  @include flex(center);
  height: $namecard-height;
  width: 100%;
  padding: 0.5em;
  z-index: 2;
  background: transparent;
  @media only screen and (orientation: landscape){
    padding-right: 10%;
  }
}

$ripple-timing: $transition-fast;
$ripple-delay: $ripple-timing / 2;
$nudge-timing: $transition-med;
$nudge-delay: $nudge-timing / 2;
$spin-timing: $transition-fast;
$spin-delay: $spin-timing / 4;
$intro-timing: $transition-fast;
$intro-delay: $transition-fast / 2;

.namecard__content {
  position: relative;
  @include flex($dir: row, $justify: center, $align: center);
  padding: 0.5em;
  // overflow: hidden;
  border-radius: 15%;
  top: 0;
  left: 0;
  transition: $nudge-timing $bezier-quart 0ms;

  [class^="avatar"],
  [class*=" avatar"] {
    position: relative;
    overflow: visible;
    z-index: 1;
    img {
      position: relative;
      z-index: 2;
      cursor: pointer;
      transition: $spin-timing $bezier-quart 0ms;
    }
  }

  .ripple-bg {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: $color-bg;
    transition: $ripple-timing $bezier-quart 100ms;
    // &.expand {
    //   top: -500%;
    //   left: -500%;
    //   height: 1100%;
    //   width: 1100%;
    //   box-shadow: $shadow-lg;
    // }
  }

  $texts-offset: 33px; // avatar-sm(25) + margin(8)
  $texts-padding: 8px;

  .namecard__text {
    position: relative;
    z-index: 2;
    margin-left: 8px;
    pointer-events: none;
    .text {
      position: relative;
      white-space: pre;
      line-height: 1.4;
      padding: $texts-padding;
      transform-origin: 50% 50%;
    }
  }

  .namecard__name {
    z-index: 2;
    padding: $texts-padding;
    font-size: 1.2em;
    font-family: $font-name;
    cursor: pointer;
    * {
      font-weight: bold;
    }
  }

  .namecard__text__intro {
    position: absolute;
    font-family: $font-text;
    font-size: 0.8em;
    opacity: 0;
    top: 0;
    transition: $intro-timing $bezier-quart 0ms;
    transform: scale(0.2);
    .text {
      text-align: center;
      border-top: 1px solid $grey;
      transform: translate(calc(-50% - #{$texts-offset}), 0);
    }
  }

  .namecard__text__contact {
    position: absolute;
    font-family: $font-text;
    font-size: 0.8em;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    @include flex($dir: row, $justify: flex-start, $align: center);
    opacity: 0;
    transform-origin: ($texts-offset * -1) 50%;
    transition: $spin-timing $bezier-quart 0ms;
    .text {
      text-align: left;
      transform: rotate(180deg);
    }
  }


  // .namecard__content:hover
  &:hover,
  &.on {
    top: 2em;
    left: 3em;
    @include mediaQueryStep($delay: 1, $rules: (
      left: (2em, 1em, 0)
    ));
    transition-timing-function: $bezier-bounce;
    transition-delay: $ripple-delay;

    [class^="avatar"],
    [class*=" avatar"] {
      img {
        transition-timing-function: $bezier-bounce;
        transition-delay: $ripple-timing + $nudge-delay;
        transform: scale(1.2);
      }
    }
    .ripple-bg {
      border-radius: 20%;
      top: -500%;
      left: -500%;
      height: 1100%;
      width: 1100%;
      @include mediaQueryRange((
        top: (-200%, -400%),
        left: (-200%, -400%),
        height: (500%, 900%),
        width: (500%, 900%)
      ));
      box-shadow: $shadow-lg;
      transition-delay: 0ms;
    }
    .namecard__text {
      pointer-events: visible;
    }
    .namecard__text__intro {
      opacity: 1;
      transition-delay: $ripple-timing + $nudge-delay + $spin-delay;
      top: calc(1.5em + #{$avatar-size * 1.2});
      transform: scale(1);
      @media only screen and (orientation: landscape){
        top: calc(2.5em + #{$avatar-size * 1.2});
      }
    }
    .namecard__text__contact {
      opacity: 1;
      transform: rotate(180deg);
      transition-delay: $ripple-timing + $nudge-delay;
    }
  }
}
