.namecard {
  position: relative;
  @include flex(center);
  height: $namecard-height;
  width: 100%;
  z-index: 2;
  // background: linear-gradient(0deg, $theme-pri-dark, $theme-pri-light);
  background-color: $color-bg-dark;
  @media only screen and (min-width: 960px) {
    @include body-contain;
  }
}

$ripple-timing: $transition-fast;
$ripple-delay: $ripple-timing / 2;
$nudge-timing: $transition-med;
$nudge-delay: $nudge-timing / 2;
$spin-timing: $transition-fast;
$spin-delay: $spin-timing / 4;
$intro-timing: $transition-fast;
$intro-delay: $transition-fast / 2;

.namecard__content {
  position: relative;
  @include flex($dir: row, $justify: center, $align: center);
  padding: 1em 2em;
  background-color: $color-bg;
  // overflow: hidden;
  border-radius: 20px;
  top: 0;
  left: 0;
  box-shadow: 4px 2px 10px 2px rgba($silver, 0.6);
  transition: $nudge-timing $bezier-quart 0ms;
  // animation: glaze 4s 2s alternate infinite;

  [class^="avatar"],
  [class*=" avatar"] {
    position: relative;
    overflow: visible;
    z-index: 1;
    user-select: none;
    img {
      position: relative;
      z-index: 2;
      cursor: pointer;
      transition: $spin-timing $bezier-quart 0ms;
    }
  }

  .ripple-bg {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: $color-bg;
    transition: $ripple-timing $bezier-quart 100ms;
  }

  $texts-offset: 33px; // avatar-sm(25) + margin(8)
  $texts-padding: 8px;

  .namecard__text {
    position: relative;
    z-index: 2;
    margin-left: 8px;
    pointer-events: none;
    .text {
      position: relative;
      white-space: pre;
      line-height: 1.4;
      padding: $texts-padding;
      transform-origin: 50% 50%;
    }
    a {
      color: $theme-pri-dark;
      &:hover {
        color: $theme-pri-light;
      }
    }
  }

  .namecard__name {
    position: relative;
    z-index: 2;
    padding: $texts-padding;
    font-size: 1.2em;
    font-family: $font-name;
    cursor: pointer;
    left: 0;
    transition: $spin-timing $bezier-quart 0ms;
    * {
      font-weight: bold;
    }
  }

  .namecard__text__intro {
    position: absolute;
    font-family: $font-text;
    opacity: 0;
    top: 0;
    transition: $intro-timing $bezier-quart 0ms;
    transform: scale(0.2);
    font-size: 0.74em;
    @include mediaQueryStep((font-size:(0.78em, 0.78em, 0.79em, 0.8em)));
    .text {
      line-height: 1.6;
      text-align: center;
      padding: 2em 1em 0;
      border-top: 1px solid $grey;
      transform: translate(calc(-50% - #{$texts-offset}), 0);
    }
  }

  .namecard__text__contact {
    position: absolute;
    font-family: $font-contact;
    font-size: 0.8em;
    color: $color-text-light;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    @include flex($dir: row, $justify: flex-start, $align: center);
    opacity: 0;
    transform-origin: ($texts-offset * -1) 50%;
    transition: $spin-timing $bezier-quart 0ms;
    .text {
      text-align: left;
      transform: rotate(180deg);
    }
  }

  $intro-offset: $avatar-size * 1.2;
  // .namecard__content:hover
  &:hover,
  &.on {
    top: 2em;
    left: 3.8em;
    @include mediaQueryStep($delay: 1, $rules: (
      left: (3em, 2em, 1em)
    ));
    box-shadow: none;
    transition-timing-function: $bezier-bounce;
    transition-delay: $ripple-delay;

    [class^="avatar"],
    [class*=" avatar"] {
      img {
        transition-timing-function: $bezier-bounce;
        transition-delay: $ripple-timing + $nudge-delay;
        transform: scale(1.2);
        @include mediaQueryStep((
          transform: (scale(1.4), scale(1.6), scale(1.8), scale(2))
        ));
      }
    }
    .ripple-bg {
      border-radius: 20%;
      top: -500%;
      left: -500%;
      height: 1100%;
      width: 1100%;
      @include mediaQueryRange((
        top: (-280%, -500%),
        left: (-280%, -500%),
        height: (660%, 1100%),
        width: (660%, 1100%)
      ));
      box-shadow: $shadow-lg;
      transition-delay: 0ms;
    }
    .namecard__text {
      pointer-events: visible;
    }
    .namecard__name {
      transition-timing-function: $bezier-bounce;
      transition-delay: $ripple-timing + $nudge-delay;
      @include mediaQueryRange((left: (0px, $avatar-size / 2)));
    }
    .namecard__text__intro {
      opacity: 1;
      transition-delay: $ripple-timing + $nudge-delay + $spin-delay;
      transform: scale(1);
      top: calc(1.2em + #{$intro-offset});
      @include mediaQueryStep((
        top: (
          calc(1.5em + #{$intro-offset}),
          calc(1.8em + #{$intro-offset}),
          calc(2.3em + #{$intro-offset}),
          calc(2.9em + #{$intro-offset}),
          calc(3.5em + #{$intro-offset})
        )
      ))
    }
    .namecard__text__contact {
      opacity: 1;
      transform: rotate(180deg);
      transition-delay: $ripple-timing + $nudge-delay;
      @include mediaQueryRange((left: (0px, $avatar-size / -2)));
    }
  }
}
