$nav-height: 5rem;
$nav-color: $color-text-invert;

.nav {
  background: transparent;
  height: $nav-height;
  display: block;
  width: 100%;
  z-index: 1;
  .content {
    @include flex($dir: row, $justify: space-around, $align: center);
  }

  .nav__button {
    flex: 0 0 25%;
    height: auto;
    margin: auto;
    font-size: 1rem;
    font-family: $font-sec;
    color: $nav-color;
    letter-spacing: 0.2em;
    text-align: center;
    cursor: pointer;
    padding: 1em;
    transition: $transition-slow 200ms;
    position: relative;
    border-radius: $border-radius-sm;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 49%;
      height: 2px;
      width: 1%;
      background-color: transparent;
      transition: $transition-fast;
    }
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 49%;
      height: 1px;
      width: 1%;
      background-color: transparent;
      transition: $transition-med 100ms;
    }

    &:hover,
    &:focus,
    &.selected {
      letter-spacing: 0.3em;
      &:before {
        left: 0;
        width: 100%;
        background-color: rgba($nav-color, 0.9);
      }
      &:after {
        left: 15%;
        width: 70%;
        background-color: rgba($nav-color, 0.7);
      }
    }
    &:hover,
    &:focus {
      background-color: rgba($nav-color, 0.2);
    }
    &.selected {
      transition: $transition-med;
    }
  }
}
