.nav {
  @include flex(center);
  height: auto;
  width: 100%;
  padding: 0.5em;
}

.nav__content {
  @include flex($dir: row, $align: center);
  padding: 0.5em;
}

.nav__name {
  margin-left: 0.5em;
  padding: 0.5em;
  font-size: 1.2em;
  font-family: $font-name;
  font-weight: bold;
}
