$bg-d: $cerulean-dark;
$bg-l: $java;
$particles: $cerulean-light;

#particles {
  background: linear-gradient(-3deg, $bg-d, $bg-l);
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
