.portfolio {
  display: block;
  @media only screen and (orientation: landscape){
    @include mediaQueryRange((
      padding-left: (0, 10%),
      padding-right: (0, 10%)
    ));
  };
}

.portfolio__header {
  display: block;
  font-family: $font-pri-condense;
  font-size: 1.2em;
  color: $color-text;
  text-align: center;
  padding: 1em 2em;
  margin: 1em 0;
}

.portfolio__projects {
  @include flex($dir: column);
  @media only screen and (orientation: landscape) {
    @include flex($dir: row);
  }
}

.portfolio__projects__filters {
  font-size: 0.9em;
  font-family: $font-pri-condense;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  // @include flex($dir: row, $justify: center);
  .filter {
    display: inline-block;
    padding: 1em;
  }
  @media only screen and (orientation: landscape) {
    width: auto;
    text-align: left;
    .filter {
      display: block;
      padding: 0.1em;
    }
  }
}

.portfolio__projects__list {
  flex: 1 1 auto;
  @include flex($dir: row, $justify: center);
  height: auto;
  width: 100%;
  padding: 0 2em;
  flex-wrap: wrap;

  .project {
    height: 100px;
    width: 150px;
    @include mediaQueryRange((
      height: (100, 140),
      width: (150, 210)
    ))
    position: relative;
    img {
      pointer-events: none;
      object-fit: cover;
    }
    .overlay {
      transition: $transition-fast;
      opacity: 0;
      @include flex(center);
      h2 {
        font-family: $font-badge;
        color: $color-text-invert;
      }
    }

    &:hover,
    &:focus,
    &:active {
      .overlay {
        background-color: $alpha-black;
        opacity: 1;
      }
    }
  }
}
