.portfolio__projects {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  @include flex($dir: column, $align: center);
  &.hide {
    opacity: 0;
    left: -100%;
  }
  @media only screen and (min-width: 960px) {
    @include flex($dir: row);
    flex: 1 1 auto;
  }
}

$filter-menu-width: 12em;
$filter-selected: $theme-pri;
$control-button-size: 2.5em;
$control-button-fontsize: 1em;

@mixin control-button {
  font-size: $control-button-fontsize;
  text-align: center;
  background: transparent;
  color: $alpha-light;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid $alpha-silver;
  cursor: pointer;
  transition: $transition-fast $bezier-quart;
  &:hover {
    color: $alpha-white;
    border-color: $alpha-light;
    background-color: $color-text-dark;
  }
  &:focus,
  &:active {
    outline: none;
  }
}

.portfolio__control {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: $color-text;
  padding: 1em;
  button {
    height: $control-button-size;
    width: $control-button-size;
    margin: auto;
    @include control-button;
  }
  @media only screen and (min-width: 960px){
    flex-direction: column;
    justify-content: flex-start;
    top: 1rem;
    width: $filter-menu-width;
    padding: 0;
  }
}

.portfolio__control__view {
  display: flex;
  flex-direction: row;
  .control--toggle {
    i {
      display: none;
      &.on {
        display: inline-block;
      }
    }
  }
  .control--switch {
    flex: 1 1 50%;
    border: none;
    border-radius: 0;
    display: none;
    &.selected {
      transition: background-color $transition-fast $bezier-quart;
      background-color: $theme-sec-dark;
      color: $alpha-white;
    }
  }
  @media only screen and (min-width: 960px) {
    width: 100%;
    .control--toggle {
      display: none;
    }
    .control--switch {
      display: inline-block;
    }
  }
}

.portfolio__control__filters {
  position: relative;
  width: $filter-menu-width;

  .filter-select {
    position: relative;
    z-index: 2;
    @include control-button;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
      margin: 0.75em;
    }
    #active-filter {
      text-align: left;
      flex: 1 1 auto;
    }
  }

  @media only screen and (min-width: 960px) {
    display: block;
    width: 100%;
    .filter-select {
      display: none;
    }
  }
}

.portfolio__filters {
  position: absolute;
  z-index: 2;
  top: 100%;
  width: 100%;
  left: 0;
  padding: 0.5rem 0;
  pointer-events: visible;
  visibility: hidden;
  opacity: 0;
  &.on {
    visibility: visible;
    opacity: 1;
  }
  ul {
    position: relative;
    z-index: 2;
    font-size: 1.5em;
    font-family: $font-filter;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    @include flex($dir: column);
    background-color: $color-text;
    color: $color-text-invert;
  }
  .filter {
    position: relative;
    width: 100%;
    display: block;
    flex: none;
    text-align: left;
    padding: 0.4em 1em;
    cursor: pointer;
    span {
      position: relative;
      z-index: 1;
    }
    .overlay {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      background: transparent;
    }
    &:hover,
    &:focus {
      color: $color-text-invert-light;
      background-color: $black-light;
    }
    &.selected {
      color: $color-text-invert-light;
    }
  }
  // .portfolio__filters @media
  @media only screen and (min-width: 960px) {
    visibility: visible;
    opacity: 1;
    position: relative;
    ul {
      font-size: 1em;
    }
    .filter {
      .overlay {
        background-color: $theme-pri-dark;
        display: inline-block;
        width: 0;
      }
      &.selected {
        .overlay {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

.portfolio__stage {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 2em;

  & > * {
    visibility: hidden;
    pointer-events: visible;
    opacity: 0;
    transition: opacity $transition-fast $bezier-quart;
    &.on {
      visibility: visible;
      opacity: 1;
    }
  }

  h2 {
    font-family: $font-proj-h;
    position: relative;
    padding: 0.5em 0 1em;
    flex: 0 0 auto;
    text-align: left;
    color: $color-text;
  }

  .text {
    height: auto;
    width: 100%;
    @include flex($dir: column, $justify: space-between);
    p {
      flex: 1 1 auto;
      width: 100%;
      font-size: 0.8em;
      color: $color-text;
      font-family: $font-proj-text;
      line-height: 1.1em;
      overflow: hidden;
    }
    .footer {
      @include flex($dir: row, $justify: space-between, $align: center);
      width: 100%;
      padding: 0.5em 0 0;
      .tags {
        font-size: 0.7em;
        color: $theme-pri-dark;
        font-family: $font-filter;
      }
      a {
        flex: 0 0 auto;
        font-size: 0.9em;
        align-self: flex-end;
        font-family: $font-link;
        color: $color-text-invert;
      }
      span {
        margin-left: 0.5em;
      }
    }
  }

  .project--list .info,
  .project--grid,
  .project__img img {
    @include mediaQueryRange((
      height: (120, 200),
      width: (180, 300)
    ));
  }

  @media only screen and (min-width: 960px){
    padding-top: 0;
    z-index: 2;
  }
}

.portfolio__list {
  ul {
    @include flex($dir: column);
    width: 100%;
  }

  .project--list {
    width: 100%;
    padding: 1em;
    box-shadow: $shadow-sm;
    align-items: center;
    .info {
      padding: 0 2em 0 1em;
      @include flex($dir: column);
    }
    .text {
      flex-grow: 1;
    }
    .project--list__img {
      padding: 1em;
      flex-grow: 0;
      flex-shrink: 0;
      .project__img {
        position: relative;
        transform:
          perspective(1000px)
          rotateX(-10deg)
          rotateY(-30deg)
          scale(0.9)
          translate(-1em, -1em);
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 0;
          transform-origin: 50% 100%;
          transform-style: preserve-3d;
          transform:
            scaleY(0.3)
            rotateY(-30deg)
            rotateX(-135deg)
            skew(20deg)
            translateX(-19px)
            translateY(-19px);
          box-shadow: 0 0 80px 25px $alpha-dark;
          z-index: -1;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow:
            inset -10px 0 15px rgba(0,0,0,0.1),
            inset 0 -2px 4px rgba(0,0,0,0.1);
        }
      }
    }
    &:not(:first-child) {
      margin-top: 1em;
    }
    // &:nth-child(even){
    //   flex-direction: row-reverse;
    // }
  }
}

.portfolio__grid {
  position: absolute;
  width: 100%;
  top: 2em;
  left: 0;

  ul {
    @include flex($dir: row, $justify: center);
    height: auto;
    width: 100%;
    padding: 4em 2em;
    flex-wrap: wrap;
  }

  .project--grid {
    transition: $transition-fast $bezier-quart;
    position: relative;
    z-index: 0;
    .underlay {
      @include overlay;
      pointer-events: visible;
      @include flex($dir: column, $justify: space-between);
      padding: 0.5em 2em;
      opacity: 1;
      transition: $transition-fast $bezier-quart;
      & > * {
        transition: inherit;
        opacity: 0;
      }
    }
    h2 {
      padding: 0.25em 0;
    }
    .text {
      height: 8.7em;
      .footer {
        padding: 0.5em 0;
      }
    }
    .project__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      z-index: 2;
      overflow: hidden;
      img {
        cursor: pointer;
        object-fit: cover;
        transition: $transition-fast $bezier-quart;
      }
      &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.1);
        transition: $transition-fast $bezier-quart;
      }
      &:hover {
        &:after {
          background-color: rgba(0,0,0,0);
        }
      }
    }
    .overlay {
      transition: $transition-fast;
      padding: 0.5em;
      opacity: 0;
      box-shadow: inset 0 0 30px $alpha-dark;
      // background-color: $alpha-dark;
    }

    // .project:hover
    &:hover,
    &:focus,
    &:active {
      z-index: 2;
      transform: translate(0,-2em) scale(1.2);
      transition-delay: $transition-fast;
      .underlay {
        outline: 5px solid linear-gradient($white, transparent);
        background-color: $color-bg;
        border-radius: $border-radius-sm;
        box-shadow: $shadow-lg;
        top: -2em;
        left: -2em;
        width: calc(100% + 4em);
        height: calc(100% + 12em);
        // transition-timing-function: $bezier-bounce;
        transition-delay: $transition-fast;
        & > * {
          opacity: 1;
        }
        @media only screen and (orientation:landscape) {
          height: calc(100% + 9em);
        }
      }
      .overlay {
        opacity: 1;
        z-index: 3;
      }
    }
  }

  // .portfolio__grid @media
  @media only screen and (min-width: 960px){
    padding: 0;
    ul {
      padding: 0 2em;
    }

    .project--grid {
      .project__img {
        pointer-events: visible;
      }
      .underlay {
        .text {
          height: 5.7em;
          p {
            font-size: 0.7em;
          }
          .footer {
            .tags {
              font-size: 0.6em;
            }
            a {
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
}
