.portfolio__profs {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  @include flex($dir: column, $align: center);

  &.hide {
    opacity: 0;
    left: 100%;
  }

  @media only screen and (orientation: landscape) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    @include mediaQueryRange((
      padding-left: (0%, 4%),
      padding-right: (0%, 5%)
    ))
  }
}

.profs__category {
  width: 400px;
  max-width: 80vw;
  &:nth-child(even) {
    order: 1;
  }
  &:nth-child(odd) {
    order: 2;
  }
  h4 {
    font-family: $font-prof-cat;
    display: block;
    font-size: 1.1em;
    padding: 0.5em 1em;
    text-align: center;
  }
  @media only screen and (orientation: landscape){
    width: auto;
    &:nth-child(even){
      order: 1;
      flex: 0 0 30%;
    }
    &:nth-child(odd){
      order: 1;
      flex: 0 0 24%;
    }
  }
}

$prof-border: $black;

.profs__list {
  padding: 1.5em 0;
  display: block;
  .prof {
    display: block;
    margin-bottom: 0.7em;
    @include flex($dir: row, $align: center);
    height: 1.6em;
    .prof__name {
      flex: 0 0 7em;
      height: 100%;
      display: inline-block;
      @include flex($dir: row-reverse, $align: center);
      font-family: $font-prof;
      font-weight: normal;
      padding: 0 1em;
      color: $color-text-invert;
      background-color: $prof-border;
    }
    .prof__level {
      flex: 1 1 auto;
      height: 100%;
      display: inline-block;
      border-bottom: 0.3em solid $prof-border;
      @include flex($dir: row, $align: flex-end);
      .bar {
        background-color: $theme-pri;
        height: 1em;
        @include flex($dir: row-reverse, $align: center);
        overflow: hidden;
        span {
          font-size: 0.7em;
          font-style: italic;
          color: $theme-pri-light;
          margin-right: 0.5em;
        }
      }
    }
  }
}
