.portfolio__projects {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  @include flex($dir: column, $align: center);
  &.hide {
    opacity: 0;
    left: -100%;
  }
  @media only screen and (orientation: landscape) {
    @include flex($dir: row);
    flex: 1 1 auto;
  }
}

$filter-selected: $theme-pri;

.portfolio__filters {
  position: relative;
  font-size: 1em;
  font-family: $font-filter;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  @include flex($dir: row, $justify: center);
  flex-wrap: wrap;
  padding: 0 10%;
  .filter {
    position: relative;
    display: inline-block;
    flex: 0 0 25%;
    text-align: center;
    padding: 1em 0;
    color: $color-text-invert;
    background-color: $black;
    cursor: pointer;
    transition: $transition-fast $bezier-quart;
    span {
      position: relative;
      z-index: 1;
    }
    .overlay {
      left: 50%;
      width: 0;
      transition: inherit;
      background-color: $filter-selected;
      z-index: 0;
    }
    &:hover,
    &:focus {
      color: $color-text-invert-light;
      background-color: $black-light;
    }
    &.selected {
      color: $color-text-invert-light;
      .overlay {
        left: 0;
        width: 100%;
      }
    }
  }
  // .portfolio__filters @media
  @media only screen and (orientation: landscape) {
    position: sticky;
    top: 1rem;
    width: auto;
    text-align: left;
    display: initial;
    padding: 0;
    margin-bottom: 0;
    margin-right: 2rem;
    .filter {
      display: block;
      flex: none;
      text-align: left;
      padding: 0.5em;
      padding-right: 1.25em;
      .overlay {
        left: 0;
      }
    }
  }
}

.portfolio__list {
  @include flex($dir: row, $justify: center);
  height: auto;
  width: 100%;
  padding: 0 2em;
  margin-bottom: 10rem;
  flex-wrap: wrap;

  .project,
  .project__img img {
    @include mediaQueryRange((
      height: (80, 200),
      width: (120, 300)
    ));
  }

  .project {
    transition: $transition-fast $bezier-quart;
    position: relative;
    z-index: 0;
    .underlay {
      @include overlay;
      pointer-events: visible;
      @include flex($dir: column, $justify: space-between);
      padding: 0.5em 2em;
      opacity: 1;
      transition: $transition-fast $bezier-quart;
      & > * {
        transition: inherit;
        opacity: 0;
      }
      h2 {
        font-family: $font-proj-h;
        position: relative;
        padding: 0.25em 0;
        flex: 0 0 auto;
        text-align: left;
        color: $color-text;
      }
      .text {
        height: 8.7em;
        width: 100%;
        @include flex($dir: column, $justify: space-between);
        p {
          flex: 1 1 auto;
          width: 100%;
          font-size: 0.8em;
          color: $color-text;
          font-family: $font-proj-text;
          line-height: 1.1em;
          overflow: hidden;
        }
        .footer {
          @include flex($dir: row, $justify: space-between, $align: center);
          width: 100%;
          padding: 0.5em 0;
          .tags {
            font-size: 0.7em;
            color: $theme-pri-dark;
            font-family: $font-filter;
          }
          a {
            flex: 0 0 auto;
            font-size: 0.9em;
            align-self: flex-end;
            font-family: $font-link;
          }
          span {
            margin-left: 0.5em;
          }
        }
      }
    }
    .project__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      z-index: 2;
      overflow: hidden;
      img {
        cursor: pointer;
        object-fit: cover;
        transition: $transition-fast $bezier-quart;
      }
      &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.1);
        transition: $transition-fast $bezier-quart;
      }
      &:hover {
        &:after {
          background-color: rgba(0,0,0,0);
        }
      }
    }
    .overlay {
      transition: $transition-fast;
      padding: 0.5em;
      opacity: 0;
      box-shadow: inset 0 0 30px $alpha-dark;
      // background-color: $alpha-dark;
    }

    // .project:hover
    &:hover,
    &:focus,
    &:active {
      z-index: 2;
      transform: translate(0,-2em) scale(1.2);
      transition-delay: $transition-fast;
      .underlay {
        outline: 5px solid linear-gradient($white, transparent);
        background-color: $color-bg;
        border-radius: $border-radius-sm;
        box-shadow: $shadow-lg;
        top: -2em;
        left: -2em;
        width: calc(100% + 4em);
        height: calc(100% + 12em);
        // transition-timing-function: $bezier-bounce;
        transition-delay: $transition-fast;
        & > * {
          opacity: 1;
        }
        @media only screen and (orientation:landscape) {
          height: calc(100% + 9em);
        }
      }
      .overlay {
        opacity: 1;
        z-index: 3;
      }
    }
  }

  // .portfolio__list @media
  @media only screen and (orientation: landscape){
    padding: 0;

    .project {
      .project__img {
        pointer-events: visible;
      }
      .underlay {
        .text {
          height: 5.7em;
          p {
            font-size: 0.7em;
          }
          .footer {
            .tags {
              font-size: 0.6em;
            }
            a {
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
}
