.portfolio__skills {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  text-align: center;

  &.hide {
    opacity: 0;
    left: 100%;
  }
}

$skill-border: $black;

.skills__list {
  margin: auto;
  width: 400px;
  max-width: 90vw;
  .skill {
    display: block;
    height: 1.3em;
    margin-bottom: 0.7em;
    @include flex($dir: row, $align: center);
    .skill__name {
      flex: 0 0 7em;
      height: 100%;
      display: inline-block;
      @include flex($dir: row-reverse, $align: center);
      font-family: $font-skill;
      font-size: 0.9em;
      font-weight: normal;
      padding: 0 1em;
      color: $color-text-invert;
      background-color: $skill-border;
    }
    .skill__level {
      flex: 1 1 auto;
      height: 100%;
      display: inline-block;
      border-bottom: 0.2em solid $skill-border;
      @include flex($dir: row, $align: flex-end);
      .bar {
        background-color: $theme-pri;
        height: 0.9em;
        @include flex($dir: row-reverse, $align: center);
        overflow: hidden;
        span {
          font-size: 0.5em;
          font-style: italic;
          color: $theme-pri-light;
          margin-right: 1em;
        }
      }
    }
  }
}
