.portfolio {
  display: block;
  position: relative;
  width: 100%;
  min-height: calc(100vh - $namecard-height);
  padding-bottom: $nav-height;

  .overlay {
    transition: $transition-fast $bezier-quart;
    background-color: transparent;
    z-index: 1;
    &.on {
      pointer-events: all;
      background-color: $alpha-white;
    }
  }
}

.portfolio__content {
  min-height: calc(100% - 3.9em);
  @include flex($dir: column, $align: center);
}

$header-selected: rgba($color-text-light, 0.7);

.portfolio__sections {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  @include flex($dir: row, $justify: center, $align: center);
  @media only screen and (orientation: landscape) {
    margin-bottom: 3rem;
  }
}

$header-base-text: $color-text-light;
$header-base-bg: $color-bg-dark;
$header-hover-text: $theme-pri-dark;
// $header-hover-bg: #dbe7f0;
$header-hover-bg: $theme-pri-dark-fade;
$header-select-text: $color-text-invert-light;
$header-select-bg: $theme-pri-dark;

.portfolio__header {
  position: relative;
  display: inline-block;
  flex: 0 0 50%;
  font-family: $font-header;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0;
  color: $header-base-text;
  cursor: pointer;
  user-select: none;
  transition: $transition-fast $bezier-quart;
  span {
    pointer-events: none;
  }
  [class^="overlay"],
  [class*=" overlay"] {
    z-index: -1;
    width: 0;
    transform: skew(30deg);
    transition: inherit;
  }
  .overlay--base {
    background-color: $header-base-bg;
    border-top: 2px solid transparent;
    border-bottom: 2px solid $header-select-bg;
    width: 110%;
  }
  .overlay--select {
    background-color: $header-select-bg;
    width: 0;
  }
  &:first-child {
    [class^="overlay"],
    [class*=" overlay"] {
      left: auto;
      right: 0;
    }
  }
  // .portfolio__header:hover
  &:hover,
  &:focus {
    color: $header-hover-text;
    .overlay--base {
      background-color: $header-hover-bg;
    }
  }
  &.selected {
    color: $header-select-text;
    .overlay--select {
      width: 110%;
    }
  }
}

.portfolio__view {
  flex: 1 1 auto;
  position: relative;
  @include flex($dir: column);
  height: auto;
  width: 100%;
  & > * {
    transition: $transition-med $bezier-quart;
    &.hide {
      pointer-events: none;
    }
  }
  @media only screen and (orientation: landscape){
    flex-direction: row;
    @include body-contain;
  }
}

@import 'portfolio_projects';
@import 'portfolio_profs';
