.portfolio__profs {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  @include flex($dir: column, $align: center);

  &.hide {
    opacity: 0;
    left: 100%;
  }

  @media only screen and (orientation: landscape) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    @include mediaQueryRange((
      padding-left: (0%, 4%),
      padding-right: (0%, 6%)
    ));
  }
}

.profs__category {
  width: 400px;
  max-width: 80vw;
  // &:nth-child(even) {
  //   order: 1;
  // }
  // &:nth-child(odd) {
  //   order: 2;
  // }
  h4 {
    font-family: $font-prof-cat;
    display: block;
    font-size: 1.1em;
    padding: 0.5em 1em;
    text-align: center;
  }
  @media only screen and (orientation: landscape){
    width: auto;
    flex: 0 0 25%;
    // &:nth-child(even){
    //   order: 1;
    // }
    // &:nth-child(odd){
    //   order: 1;
    // }
  }
}

$prof-bg: $black;

.profs__list {
  margin: 1.5em 0;
  display: block;
  .prof {
    display: block;
    @include flex($dir: row, $align: center);
    height: 1.8em;
    .prof__name {
      flex: 0 0 7em;
      height: 100%;
      @include flex($dir: row-reverse, $align: center);
      font-family: $font-prof;
      font-weight: normal;
      padding: 0 1em;
      color: $color-text-invert;
      background-color: $prof-bg;
      span {
        color: $theme-pri-light;
        font-size: 0.8em;
        display: none;
      }
    }
    .prof__level {
      flex: 1 1 auto;
      height: 100%;
      @include flex($dir: row, $align: center);
      .bar {
        background-color: $theme-pri;
        height: 1em;
        @include flex($dir: row-reverse, $align: center);
        overflow: hidden;
        span {
          font-size: 0.7em;
          font-style: italic;
          color: $theme-pri-light;
          margin-right: 0.5em;
          user-select: visible;
          visibility: visible;
        }
      }
    }
  }
}

#langs.profs__category {
  .profs__list {
    border-bottom: 0.8em solid $prof-bg;
    .prof {
      display: block;
      height: auto;
      border-bottom: 0.2em solid $prof-bg;
      .prof__name {
        background-color: $prof-bg;
        flex-direction: row;
        padding: 0.5em 1em;
        justify-content: space-between;
        span {
          display: inline-block;
        }
      }
      .prof__level {
        border-left: 1em solid $prof-bg;
        .bar {
          height: 0.6em;
          span {
            visibility: hidden;
          }
        }
      }
    }
  }
}
