$badge-sizes: (40px, 80px);
$star-color: $steel-light;

.skill-badge {
  margin: 1em;
  padding: 0.5em;
  transition: transform $transition-fast;
  user-select: none;

  .skill-badge__icon {
    position: relative;
    @include mediaQueryRange((
      width: $badge-sizes,
      height: $badge-sizes
    ));

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      filter: drop-shadow($shadow-md);
    }
    h3,
    [class^="skill-badge__level--"],
    [class*=" skill-badge__level--"] {
      position: absolute;
      text-align: center;
      left: 0;
      width: 100%;
      opacity: 0;
      white-space: nowrap;
      text-shadow: $shadow-sm;
      transition: $transition-med;
    }
    h3 {
      top: -1em;
      font-family: $font-badge;
      padding: 0.25em;
      font-weight: bold;
      color: $color-text;
    }
    [class^="skill-badge__level--"],
    [class*=" skill-badge__level--"] {
      bottom: -1em;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .skill-badge__star {
        padding: 0.1em;
        flex: 0 0 20%;
        position: relative;
        i {
          font-size: 0.8em;
          color: $star-color;
        }
      }
    }
    .skill-badge__level--3,
    .skill-badge__level--4 {
      .skill-badge__star:first-child,
      .skill-badge__star:last-child {
        bottom: 0.2em;
      }
    }
    .skill-badge__level--5 {
      .skill-badge__star:first-child {
        bottom: 0.6em;
        left: 0.1em;
      }
      .skill-badge__star:last-child {
        bottom: 0.6em;
        right: 0.1em;
      }
      .skill-badge__star:nth-child(even) {
        bottom: 0.2em;
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    h3 {
      opacity: 1;
      top: -1.5em;
    }
    [class^="skill-badge__level--"],
    [class*=" skill-badge__level--"] {
      opacity: 1;
      bottom: -1.2em;
    }
  }
}
