@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Raleway|Lato|Orbitron|Alegreya+Sans+SC");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto";
  font-size: 16px;
  color: #212121;
  width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
  font-size: 12px; }
  @media only screen and (min-width: 600px) {
    body {
      font-size: 14px; } }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 16px; } }
  @media only screen and (min-width: 992px) {
    body {
      font-size: 18px; } }
  @media only screen and (min-width: 1200px) {
    body {
      font-size: 20px; } }

::-webkit-scrollbar {
  max-width: 8px;
  max-height: 8px; }

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent; }

[class^="container--"],
[class*=" container--"] {
  width: 96%;
  height: 100%;
  margin: auto; }
  @media only screen and (min-width: 600px) {
    [class^="container--"],
    [class*=" container--"] {
      width: 94%; } }
  @media only screen and (min-width: 768px) {
    [class^="container--"],
    [class*=" container--"] {
      width: 92%; } }
  @media only screen and (min-width: 992px) {
    [class^="container--"],
    [class*=" container--"] {
      width: 90%; } }
  @media only screen and (min-width: 1200px) {
    [class^="container--"],
    [class*=" container--"] {
      width: 90%; } }

@media only screen and (orientation: landscape) {
  .container--default {
    width: 100%; } }
  @media only screen and (orientation: landscape) and (min-width: 480px) {
    .container--default {
      width: 92.5%; } }
  @media only screen and (orientation: landscape) and (min-width: 600px) {
    .container--default {
      width: 85%; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) {
    .container--default {
      width: 77.5%; } }
  @media only screen and (orientation: landscape) and (min-width: 992px) {
    .container--default {
      width: 70%; } }
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .container--default {
      width: 62.5%; } }

@media only screen and (orientation: landscape) {
  .container--wide {
    width: 100%; } }
  @media only screen and (orientation: landscape) and (min-width: 480px) {
    .container--wide {
      width: 96.25%; } }
  @media only screen and (orientation: landscape) and (min-width: 600px) {
    .container--wide {
      width: 92.5%; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) {
    .container--wide {
      width: 88.75%; } }
  @media only screen and (orientation: landscape) and (min-width: 992px) {
    .container--wide {
      width: 85%; } }
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .container--wide {
      width: 81.25%; } }

.nav {
  background: transparent;
  height: 4em;
  display: block;
  width: 100%;
  z-index: 1;
  font-family: "Orbitron";
  font-size: 1em; }
  .nav .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav * {
    font-family: inherit; }
  .nav .nav__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    height: auto;
    margin: auto;
    color: #fafafa;
    letter-spacing: 0.2em;
    text-align: center;
    cursor: pointer;
    padding: 1em;
    -webkit-transition: 800ms 100ms;
    transition: 800ms 100ms;
    position: relative;
    border-radius: 4px; }
    .nav .nav__button:before, .nav .nav__button:after {
      content: '';
      position: absolute;
      background-color: transparent;
      height: 0;
      width: 1%;
      left: 49%;
      border-radius: 4px; }
    .nav .nav__button:before {
      top: 0;
      -webkit-transition: 250ms;
      transition: 250ms; }
    .nav .nav__button:after {
      top: 5px;
      -webkit-transition: 500ms 50ms;
      transition: 500ms 50ms; }
    .nav .nav__button:hover, .nav .nav__button:focus, .nav .nav__button.selected {
      letter-spacing: 0.3em; }
      .nav .nav__button:hover:before, .nav .nav__button:focus:before, .nav .nav__button.selected:before {
        left: 0;
        height: 2px;
        width: 100%;
        background-color: rgba(250, 250, 250, 0.9); }
      .nav .nav__button:hover:after, .nav .nav__button:focus:after, .nav .nav__button.selected:after {
        left: 15%;
        height: 1px;
        width: 70%;
        background-color: rgba(250, 250, 250, 0.7); }
    .nav .nav__button.selected {
      -webkit-transition: 500ms;
      transition: 500ms; }
      .nav .nav__button.selected:before {
        background-color: rgba(250, 250, 250, 0.5); }
      .nav .nav__button.selected:after {
        background-color: rgba(250, 250, 250, 0.3); }
    .nav .nav__button:hover, .nav .nav__button:focus {
      background-color: rgba(250, 250, 250, 0.2); }
    .nav .nav__button:active {
      background-color: transparent;
      -webkit-transition: all 150ms 0ms;
      transition: all 150ms 0ms;
      -webkit-transform: scale(0.95);
      transform: scale(0.95); }

#particles {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.4)), color-stop(5em, transparent));
  background: linear-gradient(rgba(33, 33, 33, 0.4), transparent 5em);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%; }

[class^="avatar"],
[class*=" avatar"],
[class*="__avatar"] {
  overflow: hidden;
  border-radius: 50%; }
  [class^="avatar"] img,
  [class*=" avatar"] img,
  [class*="__avatar"] img {
    height: 100%;
    width: 100%;
    -o-object-fit: center;
    object-fit: center; }

.avatar--sm {
  height: 50px;
  width: 50px; }

.avatar--md {
  height: 100px;
  width: 100px; }

.avatar--lg {
  height: 200px;
  width: 200px; }

.portfolio {
  display: block; }
  @media only screen and (orientation: landscape) {
    .portfolio {
      padding-left: 0;
      padding-right: 0; } }
  @media only screen and (orientation: landscape) and (min-width: 480px) {
    .portfolio {
      padding-left: 2.5%;
      padding-right: 2.5%; } }
  @media only screen and (orientation: landscape) and (min-width: 600px) {
    .portfolio {
      padding-left: 5%;
      padding-right: 5%; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) {
    .portfolio {
      padding-left: 7.5%;
      padding-right: 7.5%; } }
  @media only screen and (orientation: landscape) and (min-width: 992px) {
    .portfolio {
      padding-left: 10%;
      padding-right: 10%; } }
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .portfolio {
      padding-left: 12.5%;
      padding-right: 12.5%; } }

.portfolio__header {
  display: block;
  font-family: "Roboto Condensed";
  font-size: 1.2em;
  color: #212121;
  text-align: center;
  padding: 1em 2em;
  margin: 1em 0; }

.portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media only screen and (orientation: landscape) {
    .portfolio__projects {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.portfolio__projects__filters {
  font-size: 0.9em;
  font-family: "Roboto Condensed";
  text-transform: capitalize;
  text-align: center;
  width: 100%; }
  .portfolio__projects__filters .filter {
    position: relative;
    display: inline-block;
    padding: 1em;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    -webkit-transition: 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 250ms cubic-bezier(0.165, 0.84, 0.44, 1); }
    .portfolio__projects__filters .filter:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      border-bottom: 2px solid #2196F3;
      width: 0;
      -webkit-transition: inherit;
      transition: inherit; }
    .portfolio__projects__filters .filter:hover:after, .portfolio__projects__filters .filter:focus:after {
      width: 100%; }
    .portfolio__projects__filters .filter.selected {
      color: #6ec6ff; }
      .portfolio__projects__filters .filter.selected:after {
        width: 100%;
        border-color: #6ec6ff; }
  @media only screen and (orientation: landscape) {
    .portfolio__projects__filters {
      width: auto;
      text-align: left; }
      .portfolio__projects__filters .filter {
        display: block;
        padding: 0.1em; } }

.portfolio__projects__list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  padding: 0 2em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .portfolio__projects__list .project {
    height: 100px;
    width: 150px;
    height: 100;
    width: 150;
    position: relative; }
    @media only screen and (min-width: 480px) {
      .portfolio__projects__list .project {
        height: 110;
        width: 165; } }
    @media only screen and (min-width: 600px) {
      .portfolio__projects__list .project {
        height: 120;
        width: 180; } }
    @media only screen and (min-width: 768px) {
      .portfolio__projects__list .project {
        height: 130;
        width: 195; } }
    @media only screen and (min-width: 992px) {
      .portfolio__projects__list .project {
        height: 140;
        width: 210; } }
    @media only screen and (min-width: 1200px) {
      .portfolio__projects__list .project {
        height: 150;
        width: 225; } }
    .portfolio__projects__list .project img {
      pointer-events: none;
      -o-object-fit: cover;
      object-fit: cover; }
    .portfolio__projects__list .project .overlay {
      -webkit-transition: 250ms;
      transition: 250ms;
      opacity: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .portfolio__projects__list .project .overlay h2 {
        font-family: "Alegreya Sans SC";
        color: #fafafa; }
    .portfolio__projects__list .project:hover .overlay, .portfolio__projects__list .project:focus .overlay, .portfolio__projects__list .project:active .overlay {
      background-color: rgba(33, 33, 33, 0.8);
      opacity: 1; }

.alpha--light {
  background-color: rgba(250, 250, 250, 0.4); }

.alpha--dark {
  background-color: rgba(33, 33, 33, 0.4); }

[class^="overlay"],
[class*=" overlay"] {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }

.overlay--dark {
  background-color: #212121; }

.overlay--light {
  background-color: #fafafa; }

.overlay--theme {
  background-color: #fafafa; }

.flex--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.shadow--sm {
  -webkit-box-shadow: 2px 2px 5px rgba(72, 72, 72, 0.3);
  box-shadow: 2px 2px 5px rgba(72, 72, 72, 0.3); }

.shadow--md {
  -webkit-box-shadow: 5px 5px 10px rgba(72, 72, 72, 0.4);
  box-shadow: 5px 5px 10px rgba(72, 72, 72, 0.4); }

.shadow--lg {
  -webkit-box-shadow: 10px 10px 20px rgba(33, 33, 33, 0.4);
  box-shadow: 10px 10px 20px rgba(33, 33, 33, 0.4); }

.invis {
  opacity: 0; }

.hidden {
  display: none; }

.disable {
  opacity: 0.1;
  pointer-events: none; }

.fx__fade-in {
  opacity: 0;
  -webkit-animation: fade-in 1s linear forwards;
  animation: fade-in 1s linear forwards; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fx__view--l {
  left: -100%;
  opacity: 0; }

.fx__view--m {
  left: 0;
  opacity: 1; }

.fx__view--r {
  left: 100%;
  opacity: 0; }
