@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Roboto";
  font-size: 16px;
  color: #212121;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

[class^="container--"],
[class*=" container--"] {
  width: 96%;
  height: 100%;
  margin: auto; }
  @media only screen and (min-width: 600px) {
    [class^="container--"],
    [class*=" container--"] {
      width: 94%; } }
  @media only screen and (min-width: 768px) {
    [class^="container--"],
    [class*=" container--"] {
      width: 92%; } }
  @media only screen and (min-width: 992px) {
    [class^="container--"],
    [class*=" container--"] {
      width: 90%; } }
  @media only screen and (min-width: 1200px) {
    [class^="container--"],
    [class*=" container--"] {
      width: 90%; } }

@media only screen and (orientation: landscape) {
  .container--default {
    width: 100%; } }
  @media only screen and (orientation: landscape) and (min-width: 480px) {
    .container--default {
      width: 92.5%; } }
  @media only screen and (orientation: landscape) and (min-width: 600px) {
    .container--default {
      width: 85%; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) {
    .container--default {
      width: 77.5%; } }
  @media only screen and (orientation: landscape) and (min-width: 992px) {
    .container--default {
      width: 70%; } }
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .container--default {
      width: 62.5%; } }

@media only screen and (orientation: landscape) {
  .container--wide {
    width: 100%; } }
  @media only screen and (orientation: landscape) and (min-width: 480px) {
    .container--wide {
      width: 96.25%; } }
  @media only screen and (orientation: landscape) and (min-width: 600px) {
    .container--wide {
      width: 92.5%; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) {
    .container--wide {
      width: 88.75%; } }
  @media only screen and (orientation: landscape) and (min-width: 992px) {
    .container--wide {
      width: 85%; } }
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .container--wide {
      width: 81.25%; } }

.nav {
  background: transparent;
  flex: 0 0 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1; }

.nav__tab-wrapper {
  flex: 1 0 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }
  .nav__tab-wrapper .nav__tab {
    height: 70%;
    width: 95%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(250, 250, 250, 0.4);
    border: 1px solid rgba(250, 250, 250, 0.4);
    border-bottom: none;
    box-shadow: 3px -1px 2px rgba(72, 72, 72, 0.3); }
  .nav__tab-wrapper:first-child .nav__tab {
    width: 90%;
    margin-left: 5%; }

#particles {
  background: linear-gradient(-3deg, #007ac1, #1FC2C2);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%; }

.alpha--light {
  background-color: rgba(250, 250, 250, 0.4); }

.alpha--dark {
  background-color: rgba(33, 33, 33, 0.4); }

.flex--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex--row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

[class^="main--"],
[class*=" main--"] {
  display: block;
  width: 100%; }

.main--nav {
  height: 6rem; }

.main--about {
  height: 80vh; }
  .main--about .content {
    height: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 165, 0, 0.8); }

.main--portfolio {
  height: 80vh; }
  .main--portfolio .content {
    background-color: rgba(250, 250, 250, 0.9);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 10px 10px 20px rgba(33, 33, 33, 0.4); }
